.header {
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    background: blueviolet;
    padding: 15px;
    font-size: 20px;
    position: -webkit-sticky;
}

.header-items {
    display: flex;
    align-items: center;
}

.title {
    font-family: "Comic Sans MS", serif;
    display: inline-table !important;
}

.add-blog-button {
    display: flex;
    align-items: center;
    background-color: #e6e6fa;
    color: black;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

Link {
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .header {
        font-size: 16px;
    }

    .header-items {
        justify-content: center;
    }

    .title {
        display: block !important;
        text-align: center;
    }

    .add-blog-button {
        padding: 10px;
    }
}